Variable in Statistics ( or Columns )

* can be describe either :
    * Quantities
    * Qualities
    
* variables that describe how much the quantity is , is called quantitative variable. some variables dont describe quantities  i.e. name , this called qualitative or categorical variable

The Team and Height variables provide different amounts of information because they have a different nature (one is qualitative, the other quantitative), and because they are measured differently (size and direction )

system of rules that define how each variable is measured is called scale of measurement or, less often, level of measurement.

 system of measurement made up of four different scales of measurement: nominal, ordinal, interval, and ratio.

In [21]:
import pandas as pd 
data = pd.read_csv('wnba.csv')

In [22]:
data['Height'].sample(2)

44     188
107    175
Name: Height, dtype: int64

In [23]:
data['Team'].sample(2)

131    MIN
26     ATL
Name: Team, dtype: object

In [26]:
data.head()

,Name,Team,Pos,Height,Weight,BMI,Birth_Place,Birthdate,Age,College,...,OREB,DREB,REB,AST,STL,BLK,TO,PTS,DD2,TD3
0,Aerial Powers,DAL,F,183,71.0,21.200991,US,"January 17, 1994",23,Michigan State,...,6,22,28,12,3,6,12,93,0,0
1,Alana Beard,LA,G/F,185,73.0,21.329438,US,"May 14, 1982",35,Duke,...,19,82,101,72,63,13,40,217,0,0
2,Alex Bentley,CON,G,170,69.0,23.875433,US,"October 27, 1990",26,Penn State,...,4,36,40,78,22,3,24,218,0,0
3,Alex Montgomery,SAN,G/F,185,84.0,24.543462,US,"December 11, 1988",28,Georgia Tech,...,35,134,169,65,20,10,38,188,2,0
4,Alexis Jones,MIN,G,175,78.0,25.469388,US,"August 5, 1994",23,Baylor,...,3,9,12,12,7,0,14,50,0,0

Team variable by examining its values we can tell whether two individuals are different or not, but we can't indicate the size and the direction of the difference.

The Team variable is an example of a variable measured on a nominal scale.

When a qualitative variable is described with numbers, the principles of the nominal scale still hold. We can tell whether there's a difference or not between individuals, but we still can't say anything about the size and the direction of the difference.

* **Nominal scale** :
    * We can tell whether two individuals are different or not (with respect to that variable).
    * We can't say anything about the direction and the size of the difference.
    * We know that it can only describe qualities.

In [27]:
nominal_scale = sorted(['Name','Team','Pos','Birth_Place','College'])

In [29]:
data[nominal_scale].sample(4)

   Birth_Place         College             Name Pos Team
45          US     Connecticut    Diana Taurasi   G  PHO
8           US  South Carolina     Allisha Gray   G  DAL
63          US        Stanford  Jeanette Pohlen   G  IND
36          US        Oklahoma   Courtney Paris   C  DAL

* **Ordinal scale** :
    * we can also tell the direction of the difference. 
    * we can also tell the direction of the difference. 
    * we can't determine the size of the difference.

In [30]:
data.columns

Index(['Name', 'Team', 'Pos', 'Height', 'Weight', 'BMI', 'Birth_Place',
       'Birthdate', 'Age', 'College', 'Experience', 'Games Played', 'MIN',
       'FGM', 'FGA', 'FG%', '15:00', '3PA', '3P%', 'FTM', 'FTA', 'FT%', 'OREB',
       'DREB', 'REB', 'AST', 'STL', 'BLK', 'TO', 'PTS', 'DD2', 'TD3'],
      dtype='object')

In [42]:
data[data['Name'] == 'Kiah Stokes']

,Name,Team,Pos,Height,Weight,BMI,Birth_Place,Birthdate,Age,College,...,OREB,DREB,REB,AST,STL,BLK,TO,PTS,DD2,TD3
81,Kiah Stokes,NY,C,191,87.0,23.84803,US,"March 30, 1993",24,Connecticut,...,63,122,185,21,8,32,33,141,3,0

In [43]:
data[data['Name'] == 'Riquna Williams']

,Name,Team,Pos,Height,Weight,BMI,Birth_Place,Birthdate,Age,College,...,OREB,DREB,REB,AST,STL,BLK,TO,PTS,DD2,TD3
112,Riquna Williams,LA,G,170,75.0,25.951557,US,"May 28, 1990",27,Miami (FL),...,6,26,32,16,19,3,26,148,0,0

In [53]:
a = data[data['Name'] == 'Kiah Stokes']['Height'] 
b = data[data['Name'] == 'Riquna Williams']['Height']

In [58]:
a.values - b.values

array([21], dtype=int64)

A variable measured on a scale that preserves the order between values and has well-defined intervals using real numbers is an example of a variable measured either on an interval scale, or on a ratio scale

quantitative variables can be measured on ordinal, interval, or ratio scales. variables measured on interval and ratio scales can only take real numbers as values.

On a ratio scale, the zero point means no quantity. For example, the Weight variable is measured on a ratio scale, which means that 0 grams indicate the absence of weight.  If we want to use a ratio scale, our zero point must be meaningful and denote the absence of time. For this reason, we'd basically have to begin the counting at the very beginning of time

On an interval scale, however, the zero point doesn't indicate the absence of a quantity. It actually indicates the presence of a quantity.

0Â°C or 0Â°F are arbitrarily set zero points and don't indicate the absence of temperature. If 0Â°C or 0Â°F were meaningful zero points, temperatures below 0Â°C or 0Â°F wouldn't be possible.

In [63]:
sample_data = data.loc[[35,3,111,85,128],['Name','Weight']]

In [71]:
interval = ['Birthdate', 'Weight_deviation']
ratio = sorted(['Height', 'Weight', 'BMI', 'Age', 'Experience', 'Games Played', 'MIN', 'FGM', 'FGA', 'FG%', '15:00', 
                '3PA', '3P%', 'FTM', 'FTA', 'FT%', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TO',
                'PTS', 'DD2', 'TD3'])

no possible intermediate value between any two adjacent values of a variable, we call that variable discrete. the results of our counting could only be integers

In [74]:
ratio_interval_only = {'Height': 'continuous', 'Weight': 'continuous', 'BMI': 'continuous', 'Age': 'continuous',
                       'Games Played': 'discrete', 'MIN': 'continuous', 'FGM': 'discrete',
                       'FGA': 'discrete', 'FG%': 'continuous', '3PA': 'discrete', '3P%': 'continuous',
                       'FTM': 'discrete', 'FTA': 'discrete', 'FT%': 'continuous', 'OREB': 'discrete',
                       'DREB': 'discrete', 'REB': 'discrete', 'AST': 'discrete', 'STL': 'discrete',
                       'BLK': 'discrete', 'TO': 'discrete', 'PTS': 'discrete', 'DD2': 'discrete', 
                       'TD3': 'discrete', 'Weight_deviation': 'continuous'}

every value of a continuous variable is an interval. The boundaries of an interval are sometimes called real limits. The lower boundary of the interval is called lower real limit, and the upper boundary is called upper real limit.

In [76]:
bmi = {21.201: [21.2005, 21.2015],
 21.329: [21.3285, 21.3295],
 23.875: [23.8745, 23.8755],
 24.543: [24.5425, 24.5435],
 25.469: [25.4685, 25.4695]}